<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>now hot spot</title>
    <link href="stylesheet/main.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <h1>煮え煮えスポット</h1>
    <p>今、煮えている場所が一目でわかる！</p>
  </body>
</html>